.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 60rem;
  height: 60rem;
  margin: 10rem;

  background-color: rgb(182, 181, 181);
  border-radius: 1.5rem;
}

.question-text {
  font-size: 10rem;
}

.input-answer {
  height: 9rem;
  width: 80%;
  text-align: center;
  font-size: 10rem;
}