.numberPage_main_container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.numberPage_display-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 90%;
  max-width: 800px;
  height: 60rem;
  margin: 10rem 0;

  background-color: rgb(228, 228, 228);
  border-radius: 1.5rem;
}

.numberPage_main_text {
  font-size: 10rem;
}

.numberPage_input_answer {
  height: 9rem;
  width: 90%;
  text-align: center;
  font-size: 5rem;
}

.numberPage_button {
  width: 19rem;
  height: 5rem;

  cursor: pointer;

  background-color: black;

  color: white;
  font-size: 2rem;

  border-radius: 1rem;
  border: none;
  outline: none;
}

.numberPage_button:hover {
  background-color: rgb(26, 26, 26);
}

.numberPage_right_answer {
  color: green;
  font-weight: bold;
}